<div class="container">
  <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
    <mat-button-toggle value="bold">Novas</mat-button-toggle>
    <mat-button-toggle value="italic">Visualizadas</mat-button-toggle>
    <mat-button-toggle value="underline">Encaminhadas</mat-button-toggle>
  </mat-button-toggle-group>
</div>
<div class="content-body">
    <div class="left-side">
        <ul id="historic-list">
            <li>Teste</li>
            <li>Teste</li>
            <li>Teste</li>
            <li>Teste</li>
            <li>Teste</li>
            <li>Teste</li>
        </ul>
    </div>
    <div class="right-side">
        <p>Grafico</p>
    </div>
</div>
