.notification-card {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

mat-card {
  display: flex;
  flex-direction: column;
  padding: 10px;
  min-height: 80px;
}

.status-container {
  display: flex;
  align-items: center; /* Alinha o ícone com o texto */
  margin-bottom: 10px; /* Espaço abaixo do status */
}

.status-icon {
  font-size: 24px; /* Tamanho do ícone */
  margin-right: 8px; /* Espaço entre o ícone e o texto */
  color: blue; /* Ícone com cor azul */
}

mat-card-title {
  font-weight: bold;
  font-size: 16px;
}
